body {
  margin: 0;
  background-color: #0f172a;
  color: white;
  font-family: sans-serif;
}
header {
  padding: 10px;
  text-align: center;
  background: #1e293b;
}
.logo {
  height: 50px;
}
main.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 12px;
  padding: 20px;
}
main.grid a {
  text-decoration: none;
  color: white;
}
main.grid img {
  width: 100%;
  border-radius: 12px;
}

.download-btn {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ef4444;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
}
